<div class="em-footer-wrap overflow-hidden">
  <div class="vessel-fluid">
              <div class="queue">
                    <div class="column-12">
                        <ul class="det-wrapper">
                            <li class="em-det">
                                <div class="icon"><i class="fa-solid fa-truck"></i></div>
                                <strong class="text-uppercase">Free shipping on all orders over $50</strong>
                            </li>
                            <li class="em-det">
                                <div class="icon"><i class="fa-solid fa-lock"></i></div>
                                <strong class="text-uppercase">100% secured payment processing</strong>
                            </li>
                            <li class="em-det">
                                <div class="icon"><i class="fa-solid fa-face-smile-beam"></i></div>
                                <strong class="text-uppercase">Satisfaction guarantee</strong>
                            </li>
                        </ul>
                    </div>
                </div>
  </div>
</div>  
              


{% schema %}
  {
    "name": "000-spec",
    "settings": [
      
    ],
    "presets":[
      {
        "name": "000-spec"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}