<div class="organ-support oveflow-hidden custom-space">
            <div class="vessel">
                <div class="queue">
                    <div class="column-12">
                        <div class="content-container margin-bottom text-center">
                          {% if section.settings.heading != blank %}
                            <h2 class="text-light">{{ section.settings.heading }}</h2>
                          {% endif %}  
                        </div>
                    </div>
                </div>
                <div class="queue">
                    <div class="column-12">
                        <ul class="cc-container">
                          {% for block in section.blocks %}
                            {% if block.settings.image != blank %}
                              <li>
                                <div class="image-wrap">
                                  <img src="{{ block.settings.image | img_url: 'x1024' }}" alt="image">
                                </div>
                              </li>
                            {% endif %}  
                          {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


{% schema %}
  {
    "name": "001-organ",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Organizations We’ve Supported"
      }
    ],
    "blocks":[
      {
        "type": "image_picker",
        "name": "Image",
        "settings":[
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}