{% comment %}
<div class="page-width">
  <div class="empty-page-content text-center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
  </div>
</div>
{% endcomment %}
<div class="404-page overflow-hidden">
    <div class="organ-support em-404 overflow-hidden custom-space">
        <div class="vessel">
            <div class="queue">
                <div class="column-12">
                    <div class="content-container text-center margin-bottom">
                        <strong class="margin-bottom-1">404 error</strong>
                        <h2 class="margin-bottom">Uh-Oh. Looks Like We Went A Little Too Far Off The Trail.</h2>
                        <p>While it’s sometimes fun to get a little lost, let’s see if we can get us back on track!</p>
                    </div>
                </div>
            </div>
            <div class="queue">
                <div class="column-12">
                    <div class="btn-wrapper">
                        <a href="https://www.mountaintimesoap.com/" class="btn btn-primary btn-one">visit our homepage</a>
                        <a href="https://www.mountaintimesoap.com/collections/all" class="btn btn-primary btn-two">Shop all products</a>
                        <a href="https://www.mountaintimesoap.com/pages/contact-2" class="btn btn-primary btn-three">Get in contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>