<div class="customer-support overflow-hidden">
 {% section '001-support' %}
 {% section '002-sup-icons' %}
 {% section '003-sup-ship' %}
 {% section '004-sup-return' %}
 {% section '005-sup-terms' %}
 {% section '006-sup-privacy' %}
</div>