<div class="event-page">
    {% section '001-ev-ban' %}
    {% section '004-cn-loc-map' %}
    {% section '002-ev-events' %}
    {% section '003-ev-embed' %}
    {% section '004-ev-bt-ban' %}
    {% section '009-ind-newsletter' %}
</div>