<div class="subscription-page">
    {% section 'subscription-banner' %}
    {% section 'subscription-support-bar' %}
    {% section 'subscription-adventure-club' %}
    {% section 'subscription-faq' %}
    {% section 'subscription-soap-qty-selection' %}
    {% section 'subscription-duration' %}
    {% section 'subscription-soap-items' %}
    {% section 'subscription-soap-items-2' %}
    {% section 'subscription-confirm-box' %}

  {% comment %}
    <div class="main-banner black-layer position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/2458/1997/files/subscription-banner.png?v=1660154201');">
        <div class="vessel">
            <div class="content-banner text-align-center">
                <h2 class="text-light">
                    Adventure {Noun}
                </h2>
                <strong class="neufreit text-light text-uppercase">ad · &ZeroWidthSpace;ven · &ZeroWidthSpace;ture &nbsp;|&nbsp; \ əd-'ven-chər</strong>
                <p class="text-light text-uppercase neufreit">: an exciting or remarkable experience</p>
                <p class="text-light">Our quarterly and monthly soap subscription allows you to choose your own adventure
                    when it comes to washing up. Don’t forget to find a dirt road or climb a peak before your order arrives.
                    What fun is it to clean up if you don’t get a little dirty first?</p>
    
            </div>
        </div>
    </div>
    <div class="em-mind-wrapper em-support custom-space overflow-hidden">
        <div class="vessel">
            <div class="queue">
                <div class="column-12">
                    <div class="content-container">
                        <div class="em-wrap">
    
    
                            <strong class="text-uppercase neufreit text-light">Free Shipping
                                On first order</strong>
    
                        </div>
                        <div class="em-wrap">
                            <strong class="text-uppercase neufreit text-light">15% off site-wide
                                For members</strong>
                        </div>
                        <div class="em-wrap">
                            <strong class="text-uppercase neufreit text-light">Hassle- free
                                ordering</strong>
                        </div>
                        <div class="em-wrap">
                            <strong class="text-uppercase neufreit text-light">Pause or Cancel
                                At Any time</strong>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="adventure-club custom-space">
        <div class="vessel">
            <div class="adv-vessel">
                <h2 class="text-align-center">The Adventure Soap Club</h2>
                <p class="text-align-center">Free shipping on your first subscription delivery, and any orders $50 and over
                    after that.</p>
                <div class="queue">
                    <div class="column-12 column-md-5">
                        <div class="img-wrap"><img src="https://cdn.shopify.com/s/files/1/2458/1997/files/sub-club.png?v=1660154200" alt="images"></div>
                    </div>
                    <div class="column-12 column-md-7 ">
                        <ul class="adv-list height-100 d-flex flex-columns">
                            <li class="d-flex flex-columns f-grow-1 justify-content-center"><strong class="headline ethos-h d-block text-green text-capitalize margin-bottom position-relative">15%
                                    Off Site-Wide For Members</strong>
                                <p>If you’re an Adventure Soap Club member, you’re our people. And we always take care
                                    of our people.</p>
                            </li>
                            <li class="d-flex flex-columns f-grow-1 justify-content-center"><strong class="headline ethos-h d-block text-green text-capitalize margin-bottom position-relative">Mix
                                    &amp; match your natural soap</strong>
                                <p>You pick the number of bars, of which soap varieties you want and how frequently new
                                    bars ship.</p>
                            </li>
                            <li class="d-flex flex-columns f-grow-1 justify-content-center"><strong class="headline ethos-h d-block text-green text-capitalize margin-bottom position-relative">Pause
                                    Or Cancel At Any Time</strong>
                                <p>Taking off for an epic road trip? Backpacking for a month? Stocked up on soap? Cancel
                                    or pause at any time, no questions asked.</p>
                            </li>
                        </ul>
    
                    </div>
    
                </div>
                <a href="#" class="btn btn-seceondry text-light neufreit">CHOOSE YOUR adventure</a>
            </div>
        </div>
    </div>
    <div class="faqs-subscription custom-space">
        <div class="vessel">
            <h2 class="text-light text-align-center">
                Frequently Asked Questions
            </h2>
            <ul class="queue faqs-product">
                <li class="column-12 column-md-6 postion-relative">
                    <div class="faq-content posiition-relative"><button><i class="fa-solid fa-plus"></i></button><span class="neufreit text-uppercase text-green">WHAT IS THE ADVENTURE SOAP CLUB?</span>
                        <p>The Adventure Soap club is the coolest soap subscription club on the internet. Rather than trying
                            to remember to order soap, we send you the number of bars you need, the scents you want, at the
                            frequency you want. And, as a member you get 15% off site wide! </p>
                    </div>
                </li>
                <li class="column-12 column-md-6 postion-relative">
                    <div class="faq-content posiition-relative"><button><i class="fa-solid fa-plus"></i></button><span class="neufreit text-uppercase text-green">Do your soap &amp; shampoo bars lather?</span>
                        <p>Yes! Our soap lathers better than the next guy, all without the addition of lathering agents or
                            additives. Our superior lather comes from the high concentration of coconut oil and castor oil
                            in our soap formulas.</p>
                    </div>
                </li>
                <li class="column-12 column-md-6 postion-relative">
                    <div class="faq-content posiition-relative"><button><i class="fa-solid fa-plus"></i></button><span class="neufreit text-uppercase text-green">HOW DOES YOUR SOAP WORK? </span>
                        <p>We mix our oils with sodium hydroxide which results in saponified oils. Our soap clean because
                            they’re emulsifiers, which means they can help liquids like oil and water mix. Rather than
                            repelling the water, our soap surrounds the oil, breaks the barrier and makes it easier to wash
                            away. If you would like the full break down, it’s better said by a chemist. </p>
                    </div>
                </li>
                <li class="column-12 column-md-6 postion-relative">
                    <div class="faq-content posiition-relative"><button><i class="fa-solid fa-plus"></i></button><span class="neufreit text-uppercase text-green">IS THIS A MEN’S SOAP SUBSCRIPTION?</span>
                        <p>We believe that Mountain Time Soap transcends the gender binary, but men have mentioned they love
                            our soap bar subscription boxes. Likely because our soap and thoughtfully crafted scents speak
                            to everyone. Some of our top sellers with men include our shaving soap, the shampoo bar, and
                            peak season. </p>
                    </div>
                </li>
                <li class="column-12 column-md-6 postion-relative">
                    <div class="faq-content posiition-relative"><button><i class="fa-solid fa-plus"></i></button><span class="neufreit text-uppercase text-green">
                            Can I change my soap type &amp; frequency? </span>
                        <p>Yes, our customer portal allows you to make any of these changes at any time. Just be sure to
                            pick your new scents before your order ships! </p>
                    </div>
                </li>
    
    
                <li class="column-12 column-md-6 postion-relative">
                    <div class="faq-content posiition-relative"><button><i class="fa-solid fa-plus"></i></button><span class="neufreit text-uppercase text-green">Can I cancel any time? If so, how?</span>
                        <p>Once you become an Adventure Soap Club member you’re given a login to the customer portal. There
                            you can cancel, or skip, any orders that you need to at any time. Adventure if and when you
                            want! </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="soap-shop custom-space soap-shop00 soap-quantity-selection">
        <div class="vessel">
            <h2 class="text-align-center "><strong> Select Your Handmade Soap Quantity</strong></h2>
            <ul class="queue">
                <li class="column-12 column-sm-6 column-md-3 margin-bottom" data-quantity="1">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/q1.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Minimalist : 1 Bar
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Light showering</span>
                            <span class="price d-block neufreit">$6.00</span>
                            <button type="submit" class="btn btn-product w-100 text-light">Select option</button>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-3 margin-bottom active" data-quantity="2">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/q2.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Single : 2 Bars </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Daily showers</span>
                            <span class="price d-block neufreit">$12.00</span>
                            <button type="submit" class="btn btn-product w-100 text-light">Select option</button>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-3 margin-bottom" data-quantity="3">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/q3.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Couple : 3 Bars
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">For couple or small
                                family</span>
                            <span class="price d-block neufreit">$18.00</span>
                            <button type="submit" class="btn btn-product w-100 text-light">Select option</button>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-3 margin-bottom" data-quantity="4">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/q4.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Family : 4 Bars</strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Adventure for the whole
                                family</span>
                            <span class="price d-block neufreit">$14.00</span>
                            <button type="submit" class="btn btn-product w-100 text-light">Select option</button>
                        </div>
                    </div>
                </li>
    
    
            </ul>
    
        </div>
    </div>
    
    <div class="membership-wrapper custom-space overflow-hidden soap-duration-selection">
        <div class="vessel">
            <div class="queue">
                <div class="column-12">
                    <div class="content-container margin-bottom text-center">
                        <h2 class="margin-bottom"><strong>How often should we ship?*</strong> </h2>
                        <p class="text-yellow">*Our subscription service allows you to edit your shipping frequency to a
                            variety of options once your initial subscription order has been created.</p>
                    </div>
                </div>
            </div>
            <div class="queue">
                <div class="column-12">
                    <div class="member-container">
                        <div class="em-member em-member-00" data-duration="Monthly">
                            <strong class="ethos-h">Monthly : Every 30 Days</strong>
                            <a href="#" class="btn btn-primary">Select option</a>
                        </div>
                        <div class="em-member em-member-01 active" data-duration="Quarterly">
                            <strong class="ethos-h">Quarterly : Every 90 Days</strong>
                            <p class="text-yellow margin-bottom position-relative">Select quarterly delivery to reduce your
                                carbon footprint!</p>
                            <a href="#" class="btn btn-primary">Select option</a>
                            <div class="recommend-image">
                                <div class="image-wrap"><img src="https://cdn.shopify.com/s/files/1/2458/1997/files/ship-star.png?v=1660154200" alt=""></div>
                                <span>Recommended</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="soap-shop custom-space soap-shop00 choose-adv soap-items-selection">
        <div class="vessel">
            <h2 class="text-align-center "><strong> Select Your Handmade Soap Quantity</strong></h2>
            <ul class="queue">
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.13.32_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Alpine Start
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Spearmint, cedarwood,
                                eucalyptus</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.13.37_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Dawn Patrol
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Orange, grapefruit, lemon</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.13.42_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Elevate
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Patchouli, clove, balsam</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.13.47_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Idlewild
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Ylang ylang, orange,
                                calendula</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.13.51_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Peak Season
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Cinnamon, Eucalyptus,
                                Rosemary</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.13.55_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Tea Tree
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Organic oats, spirulina
                                powder</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.14.01_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                True Grit
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Coffee, cedarwood, sage</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.14.22_PM.png?v=1660154200" alt="img">
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Hippy Dippy
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Spearmint, Patchouli, Activated
                                Charcoal</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap surprise-me">
                            <button class="btn btn-seceondry">A real adventure</button>
                            <span class="question-mark">?</span>
                        </div>
                        <div class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Surprise Me!
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Mountain time will choose</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    
        </div>
    </div>
    
    <div class="soap-shop custom-space soap-shop00 choose-adv choose-adv2 soap-free-shipping-selection">
        <div class="vessel">
            <h2 class="text-align-center "><strong> Select Your Handmade Soap Quantity</strong></h2>
            <ul class="queue">
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-05-11_at_10.58.38_AM.png?v=1660154200" alt="img">
                        </div>
                        <div data-v-id="39267168157757" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Bamboo Soap Deck
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Prolongs the Life of Your
                                Soap</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.14.12_PM_5da8c6af-91c5-459b-9eaa-5972ac07e07c.png?v=1660219462" alt="img">
                        </div>
                        <div data-v-id="49215377549" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Shampoo Bar
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Aloe vera, tea tree,
                                rosemary</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.14.16_PM.png?v=1660154200" alt="img">
                        </div>
                        <div data-v-id="31309148946493" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Pet Shampoo
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Lemongrass, spearmint</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-04-13_at_12.09.48_PM.png?v=1660154201" alt="img">
                        </div>
                        <div data-v-id="31315423428669" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Shaving Soap
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">coconut oil, shea butter</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.14.33_PM.png?v=1660154201" alt="img">
                        </div>
                        <div data-v-id="31885433012285" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Muscle Recovery Soak
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Himalayan pink salt, essential
                                oils</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.14.37_PM.png?v=1660154200" alt="img">
                        </div>
                        <div data-v-id="31309818363965" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Lip Balm
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Peppermint, green tea
                                extract</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_3.14.47_PM.png?v=1660154200" alt="img">
                        </div>
                        <div  data-v-id="49215603469" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Dawn Patrol Essential Oils
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Orange, grapefruit, lemon</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_8.08.52_PM.png?v=1660154200" alt="img">
                        </div>
                        <div data-v-id="49215975309" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Elevate Essential Oils
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Patchouli, Clove, Balsam</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="column-12 column-sm-6 column-md-4 margin-bottom">
                    <div class="product-wrap0 d-flex flex-columns">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Screen_Shot_2022-03-30_at_8.08.42_PM.png?v=1660154200" alt="img">
                        </div>
                        <div data-v-id="2421577646093" class="product-details text-align-center d-flex flex-columns justify-content-between f-grow-1">
                            <strong class="product-name text-green d-block ethos-h">
                                Alpine Start Essential Oils
                            </strong>
                            <span class="brand text-yellow text-uppercase d-block neufreit">Spearmint, eucalyptus,
                                cedarwood</span>
    
                            <div class="d-flex field-11 flex-wrap">
                                <button type="button" class="text-light subtracting">-</button>
                                <input type="text" id="1" value="0" min="1" max="100" maxlength="100">
                                <button type="button" class="text-light adding">+</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    
        </div>
    </div>
    
    
    <div class="begin-adv2 custom-space text-align-center ">
    
        <div class="vessel">
            <div class="queue">
                <div class="column-12">
                    <div class="content d-flex flex-columns align-columns-center justify-content-center">
                        <h4 class="text-green text-capitalize">
                            Let The Adventure Begin!
                        </h4>
                        <p>Once you hit submit, you’ll be taken to a page to confirm your order. After that, we’ll send an
                            email confirming that you’ve joined the club. And, of course, we’ll give you a heads up when
                            your sustainable soap has shipped. </p>
                        <a href="#" class="btn btn-seceondry confirm-box">send it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="em-footer-wrap overflow-hidden">
        <div class="vessel-fluid">
            <div class="queue">
                <div class="column-12">
                    <ul class="det-wrapper">
                        <li class="em-det">
                            <div class="icon"><i class="fa-solid fa-truck"></i></div>
                            <strong class="text-uppercase">Free shipping on all orders over $50</strong>
                        </li>
                        <li class="em-det">
                            <div class="icon"><i class="fa-solid fa-lock"></i></div>
                            <strong class="text-uppercase">100% secured payment processing</strong>
                        </li>
                        <li class="em-det">
                            <div class="icon"><i class="fa-solid fa-face-smile-beam"></i></div>
                            <strong class="text-uppercase">Satisfaction guarantee</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="queue">
                <div class="content-container">
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-1.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-2.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-3.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-4.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-5.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-6.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-7.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="insta-wrapper">
                        <a class="insta-post" target="_blank" href="">
                            <img src="imags-insta/insta-8.png" alt="">
                        </a>
                        <div class="hover-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
{% endcomment %}
  
    </div>
    <script>
      var subsription_product_data = {{  all_products['soap-subscription-box'] | json }};
      console.log(subsription_product_data)
    </script>

<style>
  .soap-quantity-selection ul li.active .product-wrap0, .soap-duration-selection div.em-member.active{
    border: 3px solid black;
  }
  

</style>
<script>
      
  </script>